body {
    text-align: center;
}

#p1 {
    height: 300px;
    width: 400px;
}

#p2 {
    height: 300px;
    width: 400px;
}

#p3 {
    height: 300px;
    width: 400px;
}

#p4 {
    height: 300px;
    width: 400px;
}

div {
    margin-top: 15px;
}

p {
    font-size: 25px;
    font-family: cursive;
}

h1 {
    font-size: 45px;
    font-weight: bolder;
    font-family: fantasy;
}
